@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Reggae+One&family=Varela+Round&display=swap');

html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #3A6EA5;
  font-family: 'Varela Round', sans-serif;
  color: #EBEBEB;
/*   border: 5px #FF6700 solid; */
}

nav{
  background-color: #EBEBEB;
}

#yenpic{
  float:right;
  border: 5px #004E98 solid;
  margin-left:20px;
}

.card-text, .card-title{
  color: black;
}
.card{
  margin: 10px;
}